.custom-label {
    font-size: 20px;
    -unity-font-style: bold;
    color: rgb(68, 138, 255);
}

.deck:hover {
    scale: 1.05 1.05;
    transition-duration: 0.5s;
    transition-timing-function: ease-out-back;
    rotate: -3deg;
    translate: 0 -5%;
    transform-origin: left bottom;
}

.deck {
    scale: 1 1;
    transition-duration: 0.05s;
    transition-timing-function: linear;
}
